{% load bootstrap5 %} {% bootstrap_css %}{% bootstrap_javascript %}

<div class="container p-5">
    <a href={% url 'home' %}>Home</a>
    <a href={% url 'backoffice' %}>BackOffice</a>
  <h1>Liste des info</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      <!-- Boucle pour afficher chaque utilisateur -->
      {% for contact in contacts %}
      <tr>
        <td>info</td>
        <td class="d-flex gap-5">
          <form action="/contact/destroy/{{ contact.id }}" method="POST">
            {% csrf_token %}
            <button
              type="submit"
              class="btn btn-outline-danger"
              style="width: 80px; height: 40px"
            >
              Delete
            </button>
          </form>
          <a
            href="/contact/edit/{{ contact.id }}"
            class="btn btn-outline-primary"
            style="width: 80px; height: 40px"
            >Edit</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
