{% load bootstrap5 %} {% bootstrap_css %}{% bootstrap_javascript %}

<div class="container p-5">
    <a href={% url 'home' %}>Home</a>
    <a href={% url 'backoffice' %}>BackOffice</a>
  <h1>Liste des articles</h1>
    <a href={% url "create_article" %} class="btn btn-outline-warning fs-5 ml-8 mt-5">Create Article</a>
  <table class="table">
    <thead>
      <tr>
        <th>Titre</th>
        <th>User</th>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Boucle pour afficher chaque utilisateur -->
      {% for article in articles %}
      <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.user }}</td>
        <td>{{ article.category }}</td>
        <td class="d-flex gap-5">
          <form action="/article/destroy/{{ article.id }}" method="POST">
            {% csrf_token %}
            <button
              type="submit"
              class="btn btn-outline-danger"
              style="width: 80px; height: 40px"
            >
              Delete
            </button>
          </form>
          <a
            href="/article/edit/{{ article.id }}"
            class="btn btn-outline-primary"
            style="width: 80px; height: 40px"
            >Edit</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
